[Unit]
Description=Rhodecode Control
[Service]
Type=forking
Environment="LC_ALL=en_US.UTF-8"
User={{ rhodecode_ce_user }}
ExecStart={{ rhodecode_ce_home }}/.rccontrol-profile/bin/rccontrol-self-init
ExecStop=/bin/kill $MAINPID
[Install]
WantedBy=multi-user.target
